:root {
    /* Color Variables */
    --color-black: rgb(0, 0, 0);
    --color-black-transparent: rgba(0, 0, 0, 0.2);
    --color-black-transparent-light: rgba(0, 0, 0, 0.1);
    --color-black-light: rgb(51, 51, 51);
    --color-gray: rgb(153, 153, 153);
    --color-gray-dark: rgb(102, 102, 102);
    --color-windows-blue: rgb(27, 127, 227);
    --color-windows-blue-light: rgb(34, 130, 226);
    --color-windows-blue-dark: rgb(21, 103, 185);
    --color-white: rgb(255, 255, 255);
    --color-white-dark: #f2f2f2;
    --color-blue-lightest: #ebf7ff;
    /* --color-blue-lightest: rgb(215, 240, 255); */
    --color-blue-light: rgb(147, 191, 216);
    --color-blue-mid: rgb(124, 173, 201);
    --color-blue-transparent: rgba(82, 171, 222, 0.5);

    /* Border Radius Variables */
    --radius-standard: 8px;
    --radius-small: 4px;
    --radius-mid: 16px;
    --radius-full: 50%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: var(--color-white-dark);
}

input {
    width: 100%;
    padding: 8px 12px;
    font-family: inherit;
    border: 1px solid var(--color-blue-transparent);
    border-radius: var(--radius-standard);
    box-sizing: border-box;
    background-color: inherit;
}

input:focus {
    outline: 2px solid var(--color-blue-mid);
}

button {
    border: none;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}

button.std {
    padding: 8px 16px;
    color: var(--color-white);
    background-color: var(--color-windows-blue);
    border-radius: var(--radius-standard);
}

button.icon {
    display: flex;
    align-items: center;
    background-color: var(--color-windows-blue-light);
    color: var(--color-white);
    padding: 8px;
    border-radius: var(--radius-full);
}

button.icon img {
    width: 20px;
    height: 20px;
}

button.icon:hover {
    background-color: var(--color-windows-blue);
}

button.icon:active {
    background-color: var(--color-windows-blue-dark);
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #cfcfcf;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
