:root {
    --color-background-global: #f2f2f2;

    --color-background-global-a1: #ffffff;
    --color-background-global-b1: #1b7fe3;
    --color-background-global-b2: #2282e2;
    --color-background-global-b3: #1567b9;

    --color-background-global-c1: #ebf7ff;
    --color-background-global-c2: #7cadc9;
    --color-background-global-c3: #52abde80;

    --color-background-error: #e34747;
    --color-background-error-a1: #d03d3d;

    --color-foreground-global: #000000;

    --color-foreground-global-a1: #ffffff;

    --color-foreground-global-b1: #666666;
    
    --color-background-scrollbar-track: #f1f1f1;
    --color-background-scrollbar-thumb: #c1c1c1c1;
    --color-background-scrollbar-thumb-hover: #555;
    
    --color-box-shadow: #0000001a;
}

body {
    background-color: var(--color-background-global);
}

input {
    border: 1px solid var(--color-background-global-c3);
}

input:focus {
    outline: 2px solid var(--color-background-global-c2);
}

button.std {
    color: var(--color-foreground-global-a1);
    background-color: var(--color-background-global-b1);
}

button.icon {
    background-color: var(--color-background-global-b2);
    color: var(--color-foreground-global-a1);
}

button.icon:hover {
    background-color: var(--color-background-global-b1);
}

button.icon:active {
    background-color: var(--color-background-global-b3);
}

::-webkit-scrollbar-track {
    background: var(--color-background-scrollbar-track);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--color-background-scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-background-scrollbar-thumb-hover);
}

.message-interface {
    box-shadow: 0px 0px 5px 2px var(--color-box-shadow);
    background-color: var(--color-background-global-a1);
}

.message-interface-head {
    color: var(--color-foreground-global);
    background-color: var(--color-background-global-c1);
}

.avatar > * {
    background-color: var(--color-background-global-b1);
    color: var(--color-foreground-global-a1);
}

.sender {
    color: var(--color-foreground-global-b1);
}

.content {
    background-color: var(--color-foreground-global-b1);
    color: var(--color-foreground-global-a1);
}

.message.this-user .content {
    background-color: var(--color-background-global-b1);
}

.error {
    background-color: var(--color-background-error);
    color: var(--color-foreground-global-a1);
}

.button-close:hover {
    background-color: var(--color-background-error-a1);
}

.input-group {
    background-color: var(--color-background-global-c1);
}

.input-group input {
    background-color: var(--color-foreground-global-a1);
}
