:root {
    --color-background-global: #000000;
    --color-background-global-a1: #00000033;
    --color-background-global-a2: #0000001a;
    --color-background-global-a3: #333333;
    --color-foreground-global-a1: #999999;
    --color-foreground-global-a2: #666666;
    --color-background-global-b1: #1b7fe3;
    --color-background-global-b2: #2282e2;
    --color-background-global-b3: #1567b9;
    --color-foreground-global: #ffffff;
    --color-background-global-c1: #f2f2f2;
    --color-background-global-d1: #ebf7ff;
    --color-background-global-d2: #93bfd8;
    --color-background-global-d3: #7cadc9;
    --color-background-global-d4: #52abde80;
    --color-background-error: #e34747;
    --color-background-error-a1: #d03d3d;
}

body {
    background-color: var(--color-background-global-c1);
}

input {
    border: 1px solid var(--color-background-global-d4);
}

input:focus {
    outline: 2px solid var(--color-background-global-d3);
}

button.std {
    color: var(--color-foreground-global);
    background-color: var(--color-background-global-b1);
}

button.icon {
    background-color: var(--color-background-global-b2);
    color: var(--color-foreground-global);
}

button.icon:hover {
    background-color: var(--color-background-global-b1);
}

button.icon:active {
    background-color: var(--color-background-global-b3);
}

::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgb(207, 207, 207);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}

.message-interface {
    box-shadow: 0px 0px 5px 2px var(--color-background-global-a2);
    background-color: var(--color-foreground-global);
}

.message-interface-head {
    color: var(--color-background-global);
    background-color: var(--color-background-global-d1);
}

.avatar > * {
    background-color: var(--color-background-global-b1);
    color: var(--color-foreground-global);
}

.sender {
    color: var(--color-foreground-global-a2);
}

.content {
    background-color: var(--color-foreground-global-a2);
    color: var(--color-foreground-global);
}

.message.this-user .content {
    background-color: var(--color-background-global-b1);
}

.error {
    background-color: var(--color-background-error);
    color: var(--color-foreground-global);
}

.button-close:hover {
    background-color: var(--color-background-error-a1);
}

.input-group {
    background-color: var(--color-background-global-d1);
}

.input-group input {
    background-color: var(--color-foreground-global);
}
